<ion-list id="skeleton">
  <ion-card class="card">
    <ion-card-header>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-card-header>
    <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
    <ion-card-content class="chips-container">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-card-header>
    <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
    <ion-card-content class="chips-container">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-list>