<ion-card class="card" *ngIf="movie">
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
  </ion-card-header>
  <app-image-container [movieData]="movie"></app-image-container>

  <ion-card-content class="chips-container">
    <ion-chip *ngFor="let tag of movie.genre">
      <ion-label class="hashtag-title">{{tag}}</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>