<div class="information-container" *ngIf="movieData">
  <ion-grid>
    <ion-row>
      <ion-col class="rating-col">
        <ion-label color="primary" translate>movies.rating</ion-label>
        <p>{{movieData.imdbRating ? (movieData.imdbRating | number : '1.1-2') : '-'}}</p>
      </ion-col>
      <ion-col class="duration-col">
        <ion-label color="primary" translate>movies.duration</ion-label>
        <p>{{movieData.duration | timePipe}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>