<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies" [text]="''">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ movieHeaderTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="movieData">
    <app-view-movie-buttons [movieData]="movieData"></app-view-movie-buttons>
    <app-image-container [movieData]="movieData"></app-image-container>
    <app-information-table [movieData]="movieData"></app-information-table>
    <app-actors-table *ngIf="viewActorsTable" [actorsId]="movieData.actors">
    </app-actors-table>
    <app-company-table *ngIf="viewCompanyTable" [companyId]="movieData.company"></app-company-table>
    <app-hashtag-table [movieData]="movieData"></app-hashtag-table>
  </div>
</ion-content>