<div class="actors-container" *ngIf="actorsListNames">
  <div class="actors-title">
    <ion-label color="primary" translate>movies.actors</ion-label>
  </div>

  <ng-container *ngIf="!loading; else skeletonTemplate">
    <ion-item *ngFor="let actor of actorsListNames">
      <ion-label>
        {{actor.first_name + ' ' + actor.last_name}}
      </ion-label>
    </ion-item>

    <ion-item *ngIf="emptyData">
      <ion-label translate> global.notFound </ion-label>
    </ion-item>
  </ng-container>
</div>

<ng-template #skeletonTemplate>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ng-template>