.hashtags-container {
    padding: 0 1.5rem;
    margin-bottom: 5rem;

    .hashtags-title {
        margin-bottom: 0.5rem;
        border-bottom: 2px solid var(--ion-color-primary);
        padding-bottom: 0.5rem;
    }
}

.hashtag-title {
    &::before {
        content: "#";
    }
}
