<div class="hashtags-container" *ngIf="movieData && movieData.genre.length > 0">
  <div class="hashtags-title">
    <ion-label color="primary" translate>movies.hashtags</ion-label>
  </div>

  <div>
    <ion-chip *ngFor="let tag of movieData.genre">
      <ion-label class="hashtag-title">{{tag}}</ion-label>
    </ion-chip>
  </div>
</div>