<!-- Genr -->
<ion-item>
  <ion-label position="stacked" translate>{{title}}</ion-label>
  <ion-input type="text" placeholder="{{placeholder | translate}}" [(ngModel)]="dataInput"
    (keyup.Space)="addTag(dataInput)"></ion-input>
</ion-item>
<div class="tag-container">
  <ion-chip color="primary" *ngFor="let e of dataTags; let i = index;">
    <ion-label>{{e}}</ion-label>
    <ion-icon name="close-outline" (click)="removeItem(i)"></ion-icon>
  </ion-chip>
</div>