<ion-header translucent>
  <ion-toolbar>
    <ion-title translate>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" translate>global.close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-searchbar showcancelbutton="" placeholder="{{'global.search' | translate}}" (ionInput)="filterList($event)">
  </ion-searchbar>

  <ion-list *ngIf="loadedData && !filterSearch">
    <ion-item *ngFor="let data of (loadedDataFilter ? loadedDataFilter : loadedData)" (click)="selectElement(data.id)">
      <ion-label>{{data.name }}</ion-label>
    </ion-item>

    <ion-item *ngIf="searchNotFound">
      <ion-label translate>global.notFound</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="filterSearch">
    <ion-item *ngFor="let e of [].constructor(5)">
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>