<div *ngIf="movieData">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="button edit-button">
    <ion-fab-button color="success" [routerLink]="['/movies', 'edit', movieData.id]">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="button trash-button">
    <ion-fab-button color="danger" (click)="deleteMovieDialog()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>