<ion-item>
  <ion-label position="stacked" translate>movies.form.company</ion-label>
  <ion-input (click)="presentModal()" placeholder="{{'movies.form.companyPlaceholder' | translate}}"></ion-input>
</ion-item>
<div class="tag-container">
  <ion-chip color="primary" *ngIf="dataWithNames">
    <ion-label>{{dataWithNames.name}}</ion-label>
    <ion-icon name="close-outline" (click)="removeItem()"></ion-icon>
  </ion-chip>

  <ion-item *ngIf="isVisibleSkeleton">
    <ion-label>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</div>