<ion-item>
  <ion-label position="stacked" translate>movies.form.actors</ion-label>
  <ion-input (click)="presentModal()" placeholder="{{'movies.form.actorsPlaceholder' | translate}}"></ion-input>
</ion-item>
<div class="tag-container">
  <ion-chip color="primary" *ngFor="let e of dataWithNames; let i = index;">
    <ion-label>{{e.name}}</ion-label>
    <ion-icon name="close-outline" (click)="removeItem(i)"></ion-icon>
  </ion-chip>

  <ion-item *ngIf="isVisibleSkeleton">
    <ion-label>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</div>