<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="button">
  <ion-fab-button color="warning" [routerLink]="['/movies', 'edit']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>