<ion-split-pane contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header class="navbar-header">
          <ion-item lines="none" class="navbar-title" (click)="openEnd()">
            <ion-label class="navbar-label" translate> global.navbar</ion-label>
            <ion-icon slot="end" [ios]="'close-outline'" [md]="'close-sharp'"></ion-icon>
          </ion-item>
        </ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label translate>{{ p.title }}</ion-label>
            <ion-icon slot="end" [ios]="'arrow-forward-outline'" [md]="'arrow-forward-sharp'"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>