<div class="container" *ngIf="formGroup">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" novalidate>
    <!-- Title -->
    <ion-item>
      <ion-label position="stacked" translate>movies.form.title</ion-label>
      <ion-input formControlName="title" type="text" placeholder="{{'movies.form.title' | translate}}"></ion-input>
    </ion-item>
    <!-- Error messages -->
    <span class="error" *ngIf="isSubmitted && errorControl.title.errors?.required" translate>
      movies.form.errors.titleRequired
    </span>

    <!-- Poster -->
    <ion-item>
      <ion-label position="stacked" translate>movies.form.poster</ion-label>
      <ion-input formControlName="poster" type="text" placeholder="{{'movies.form.poster' | translate}}"></ion-input>
    </ion-item>

    <!-- Tags -->
    <app-input-tag-selector [title]="'movies.form.genre'" [placeholder]="'movies.form.genre'"
      [dataTags]="formGroup.controls.genre.value"></app-input-tag-selector>

    <!-- Actors -->
    <app-actors-input-search [data]="formGroup.controls.actors.value"></app-actors-input-search>

    <!-- Company -->
    <app-companies-input-search [data]="formGroup.controls.company.value" (companiesEvent)="setCompany($event)">
    </app-companies-input-search>

    <!-- Year -->
    <ion-item>
      <ion-label position="stacked" translate>movies.form.year</ion-label>
      <ion-input formControlName="year" type="number" placeholder="{{'movies.form.year' | translate}}"></ion-input>
    </ion-item>

    <!-- Duration -->
    <ion-item>
      <ion-label position="stacked" translate>movies.form.duration</ion-label>
      <ion-input formControlName="duration" type="number" placeholder="{{'movies.form.duration' | translate}}">
      </ion-input>
    </ion-item>

    <!-- Rating -->
    <ion-item>
      <ion-label position="stacked" translate>movies.form.imdbRating</ion-label>
      <ion-input formControlName="imdbRating" type="number" min="0" max="10"
        placeholder="{{'movies.form.imdbRating' | translate}}">
      </ion-input>
    </ion-item>
    <!-- Error messages -->
    <span class="error"
      *ngIf="isSubmitted && (errorControl.imdbRating.errors?.min || errorControl.imdbRating.errors?.max)" translate>
      movies.form.errors.imdbRatingValue
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" style="margin: 1rem;" expand="block" translate>
          movies.form.save
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>