<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies" [text]="''">
      </ion-back-button>
    </ion-buttons>
    <ion-title translate>
      {{movie ? 'movies.form.editMovie' : 'movies.form.newMovie'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-edit-movie-form></app-edit-movie-form>
</ion-content>