<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>movies.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshMovies($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>movies.title</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-skeleton *ngIf="loading"></app-skeleton>
  <app-card *ngFor="let movie of moviesData" [movie]="movie" (click)="viewMovie(movie)"></app-card>
  <app-movies-button></app-movies-button>

</ion-content>