<div class="companies-container" *ngIf="listNames">
  <div class="companies-title">
    <ion-label color="primary" translate>movies.company</ion-label>
  </div>

  <ng-container *ngIf="!loading; else skeletonTemplate">
    <ion-item *ngFor="let company of listNames">
      <ion-label>
        {{company.name}}
      </ion-label>
    </ion-item>

    <ion-item *ngIf="emptyData">
      <ion-label translate> global.notFound </ion-label>
    </ion-item>
  </ng-container>
</div>

<ng-template #skeletonTemplate>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ng-template>