.companies-container {
    padding: 0 1.5rem;
    margin-bottom: 1rem;

    .companies-title {
        margin-bottom: 0.5rem;
        border-bottom: 2px solid var(--ion-color-primary);
        padding-bottom: 0.5rem;
    }
}

.skeleton-text {
    width: 80%;
}
